html, body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;  
    background-image: linear-gradient(to bottom, #ec0707, #d24c17, #ef0754, #d078e4);
    height: 1080px;
}

.cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
    height: 80%;
}

header{
    user-select: none;
    position: fixed;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 20%;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* sombra suave */;
}

header > h1 {
    position: relative;
    display: flex;
    cursor: default;
    margin: 10%;
    font-family: "Oswald";
    font-weight: 350;
    background-image: linear-gradient(to bottom, #ec0707, #d24c17, #ef0754, #d078e4);
    -webkit-background-clip: text; /* Define a área de recorte como texto */
    background-clip: text; /* Para navegadores que não suportam o prefixo -webkit- */
    -webkit-text-fill-color: transparent; /* Tornar o texto transparente */
    box-sizing: border-box;
    white-space: nowrap;
    font-size: 30px;
}

header > a{
    display: flex;
    margin-left: auto;
    margin-right: 20px;
    text-decoration: none;
    color: gray;
    font-size: 25px;
    font-family: "Oswald";
    font-weight: 100;
    user-select: none;
    white-space: nowrap;
    padding-bottom: 100px;
    position: relative;
    transition: text-decoration 2s ease;
    padding: 0;
}

header > a:hover{
    color: white;
}
header > a:after{
   content: "";
   position: absolute;
   background-color: #ec0707;
   height: 3px;
   width: 0;
   left: 0;
   bottom: -3px;
}

header > a:hover:after{
    width: 100%;
    transition: 0.3s ease;
}

button{
    height: 30px;
    width: 30px;
    margin: 10px;
    position: absolute;
    cursor: pointer;
    background: none;
    border: none;
    user-select: none;
    pointer-events: none;
    margin-right: 14px;
    margin-bottom: 15px;
}

button::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #ec0707, #d24c17, #ef0754, #d078e4);
    -webkit-mask-image: url('Design\ sem\ nome\(1\).png');
    mask-size: contain; 
}

.container{
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    min-height: 200px;
    width: 40%;
    height: 40%;
    display: flex;
    margin: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* sombra suave */;
}

.container > img{
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: ease 0.5s;
}

.container :hover{
    transform: scale(1.5, 1.5);
    transition: ease 0.5s;
    filter: blur(10px);
}

.container p{
    font-size: 1em;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,600%);
    z-index: 1;
    color: white;
    pointer-events: initial;
    font-family: "Oswald";
    font-weight: 200px;
    padding: 15px;

}

.container:hover p {
    transform: translate(-50%,-50%); /* Movendo o texto para baixo ao tirar o mouse */
    transition: transform 0.5s ease;
    pointer-events: none;
}

header input{
    border: none;
    border-radius: 50%;
    user-select: none;
    margin-left: 20px;
    padding-right: 40px;
    margin-right: 5px;
    width: 1px;
    height: 40px;
    background-color: transparent;
    pointer-events: initial;
    transition: width 0.5s ease, border-radius 0.5s ease, padding-left 0.5s ease, background-color 0.5s ease;
    margin-left: 50px;
    font-family: "Oswald";
    font-size: 15px;
    font-weight: lighter;
}

header input:focus{
    outline: none;
}

header input:hover{
    width: 150px;
    border-radius: 40px;
    padding-left: 10px;
    background-color: white;
}

header .pesquisa{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 50px;
}

header img{
    width: 40px;
    height: 40px;
    margin-right: 3px;
}

.login{
    display: flex;
}
.login a{
    display: flex;
    margin-left: auto;
    margin-right: 20px;
    text-decoration: none;
    color: gray;
    font-size: 25px;
    font-family: "Oswald";
    font-weight: 100;
    user-select: none;
    white-space: nowrap;
    padding-bottom: 100px;
    position: relative;
    transition: text-decoration 2s ease;
    padding: 0;
    margin-left: 2px;
}

.login a:hover{
    color: white;
}

.login a:after{
    content: "";
   position: absolute;
   background-color: #ec0707;
   height: 3px;
   width: 0;
   left: 0;
   bottom: -3px;
}

.login a:hover:after{
    width: 100%;
    transition: 0.5s ease;
}